<head>
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Philosopher" rel="stylesheet">
</head>

<footer id="myfooter">
  <!--container fluid makes it full width of page-->
  <div class="container-fluid">
    <!--row 1 of 1-->
    <div class="row">
      <!--column 1 of 2-->
      <div class="col-md-12 text-right mt-2 mb-2">
        <p class="mb-0">footer text</p>
      </div>
    </div>
  </div>
</footer>
