
body{
  background-color: white;
}

.transparentBox{
  background-color: rgba(255,255,255,0);
  min-height: 100vh;
}

.navbarCustom {
  background-color: lightgrey;
  margin-bottom: 15px;
}

/*set a background colour to footer*/
#myfooter .row{
  background-color: lightgrey;
}

.fa-copyright{
  color: indigo ;
}

#logo{
  color: indigo;
}

.h1{
  color:indigo;
}
